@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main-color: #00dc00;
  --sub-color: black;
  --horizontal-space: 25px;
  --font-grey: grey;
  --main-border: 1px solid grey;
}

body {
  font-family: "Open Sans", sans-serif;
  color: darkgrey;
  background-color: var(--sub-color);
}

.main-screen {
  padding: 0 var(--horizontal-space);
  display: flex;
  padding-top: 125px;
}

#login-screen {
  background-image: url("screenshots/alien.png");
  background-size: cover;
}

.welcome-header {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: white;
}

.welcome-header__title {
  margin-bottom: 15px;
  font-size: 25px;
}

.welcome-header__text {
  margin-top: 20px;
  width: 80%;
  opacity: 0.6;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 100px;
}

.login-form__input {
  border: none;
  border-bottom: 1px solid grey;
  transition: border-color 0.5s ease-in-out;
  padding: 20px 0;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
}

.login-form__input::placeholder {
  color: grey;
}

.login-form__input:focus {
  border-color: var(--main-color);
}

.login-form__btn {
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 25px 0px;
  margin-top: 130px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.login-form__btn:hover {
  background-color: white;
}

.login-form__a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

#chat-screen {
  height: 140vh;
  background-image: url("../../screenshots/alienchat.png");
  background-size: contain;
}

#chat-screen .alt-screen-header {
  padding: 30px var(--horizontal-space);
  background-color: black;
  z-index: 2;
}

.main-screen-chat {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  display: flex;
  background-color: grey;
  color: white;
  padding: 10px 15px;
  align-items: center;
  font-size: 13px;
  border-radius: 20px;
  margin-bottom: 15px;
}

@keyframes leftSideMsg {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes rightSideMsg {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  width: 100%;
  padding: 10px 0;
  display: flex;
  animation: leftSideMsg 0.5s linear forwards;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message-row__content {
  display: flex;
  flex-direction: column;
}

.message__author {
  padding-top: 5px;
  margin-bottom: 12px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 19px;
  background-color: #262629;
  color: white;
  margin-right: 10px;
}

.message__time {
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
  animation: rightSideMsg 0.5s linear forwards;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--main-color);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  margin-right: 0;
}

.message-row--own .message__time {
  margin-right: 10px;
}

.talk {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.talk input {
  height: 50px;
  width: 100%;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 30px;
  padding-left: 15px;
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.talk__column:last-child {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.talk__column:last-child > i {
  position: absolute;
  right: 60px;
}

.talk__column:last-child button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  border: none;
  border-radius: 50%;
  background-color: var(--main-color);
}

.talk__column:last-child button i {
  color: white;
}

.talk:focus-within .talk__column:first-child,
.talk:focus-within .fa-face-smile,
.talk:focus-within button {
  opacity: 0;
}

.talk .talk__column:first-child,
.talk .fa-face-smile,
.talk button {
  transition: opacity 0.3s ease-in-out;
}

.talk:focus-within .talk__column:last-child {
  width: 100vw;
}

.talk input:focus {
  width: 90vw;
  transform: translateX(-40px) translateY(-70px);
}

.talk:focus-within {
  transform: translateY(70px);
}

.screen-header {
  display: flex;
  position: fixed;
  top: 27px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: var(--horizontal-space);
  background-image: url("../../screenshots/space.png");
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons .fa-gear:hover {
  animation: gearAnimation 1s linear infinite;
}

@keyframes gearAnimation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  background-color: white;
  color: black;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}

.user-component {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 20px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  font-size: 15px;
  color: grey;
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar--xs {
  width: 50px;
  height: 50px;
}

.user-component__time {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
}

.user-component__notification {
  display: flex;
  align-items: center;
  text-align: center;
}

.user-component__notification i {
  color: tomato;
  margin-left: 5px;
}

.alt-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 26px;
  color: white;
  padding: 0 var(--horizontal-space);
  padding-top: 15px;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:first-child {
  margin-right: auto;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}

.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-screen-header__column:last-child i {
  margin-left: 20px;
}

.alt-screen-header__title {
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.icons-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icons-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.icons-row__icon span {
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 22px;
}

.icons-row:nth-child(3) .icons-row__icon:nth-child(3),
.icons-row:nth-child(3) .icons-row__icon:nth-child(4) {
  opacity: 0%;
}

.icons-row__icon--small span {
  font-size: 13px;
  font-weight: 400;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f9f9fa;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 17px;
  animation: notificationAnimation 1s ease-in-out infinite;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.6s;
}

.nav__btn:nth-child(4) {
  animation-delay: 0.9s;
}
